body {
    background-color: dimgrey;
    text-align: center;
}
h1 {    
    font-size: 30px;
    color: rgb(34, 34, 219);
}
h3 {
    font-size: 22px;
    color: tomato;
}
.lyric {
    font-size: 16px;
    font-weight: 500;
    color: orange;
}
.chorus {
    font-size: 16px;
    font-weight: 600;
    color: orange;
}
.chorus-2 {
    font-size: 16px;
    font-weight: 700;
    color: yellow;
}
.container {
    margin: 10px;
    padding: 10px;
    position: center;
}